<div class="">
        <div class="row">
            <div id="header-dashboard" class="col-md-offset-5 col-md-2 st-centered" ui-sref="dashboard" ng-mouseenter="s.f.hover()">

                <p id="logo-hat" class="st-centered st-no-margin">
                    <img id="logo" ng-src="img/logo_hat.png" draggable="false" style="width:50px;">
                </p>

                <p id="logo-text" class="st-centered st-font st-no-margin" style="font-size:26px;line-height:25px;margin-left:6px;letter-spacing:-1px;height:25px;">
                    SERVANT
                </p>

                <p id="logo-status" class="st-centered st-font st-no-margin animate-flicker" style="padding-top:2px;font-size:18px;line-height:22px;letter-spacing:-1px;height:25px;opacity:0;display:none;">
                    Loading
                </p>

                <p id="logo-bowtie" class="st-centered st-no-margin">
                    <img id="logo" ng-src="img/logo_bowtie.png" draggable="false" style="width:35px;">
                </p> 

            </div>
        </div>
        <div class="row">
            <div id="dashboard-menu" class="col-md-offset-3 col-md-6 st-no-padding st-centered">
                <ul class="list-inline st-no-margin st-font st-centered">
                    <li><a href="/#!/dashboard">Servants</a></li>
                    <li><a href="http://apps.{{ s.d.host }}">Applications</a></li>
                    <li><a href="/#!/account">Account</a></li>
                    <li><a href="/#!/clients">Developers</a></li>
                    <li><a href="app/users/signout">Logout</a></li>
                </ul>
            </div>
        </div>
</div>