<div class="row">

	<div class="col-md-12" style="padding-top:15px;padding-bottom:8px;padding-left:0px;padding-right:0px;">
		<img src="../../img/sdpt/wetmonkey/logo.png" style="max-width:180px;margin:0px auto;" alt="Wet Monkey Rentals" ui-sref="home">

		<button class="pull-right btn btn-primary" style="margin-top:8px" ng-click="menu = !menu">Menu</button>
	</div>

	<div class="row" collapse="!menu">

		<ul class="col-md-12 st-no-padding list-unstyled st-centered main-menu">
			<li>
				<a href="tel:928-855-2022">
					<i class="fa fa-chevron-right" style="opacity:0.4"></i> Call Us Now
				</a>
			</li>
			<li>
				<a href="mailto:rentals@wetmonkeyrentals.com">
					<i class="fa fa-chevron-right" style="opacity:0.4"></i> Contact Us
				</a>
			</li>
			<li ui-sref="pictures">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> Pics Of Our Boats & Jet Skis
			</li>
			<li ui-sref="deal">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> Deal Of The Day
			</li>
			<li ui-sref="about">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> What We Do
			</li>
			<li ui-sref="location">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> Location
			</li>
			<li ui-sref="offroad">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> Off Road Vehicles
			</li>
			<li ui-sref="faq">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> FAQs
			</li>
		</ul>

	</div>

	<div class="col-md-12 st-centered st-rounded" style="padding-top:15px;padding-bottom:20px;background:rgba(0,0,0,0.3);min-height:200px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);">

			<h3 class="st-centered" style="color:#ffff8a">F.A.Q.</h3>
			<p style="text-align:left">
			<strong>Q: I am a novice boater. Can I safely operate a pontoon boat?</strong><br/>
			A: The Wet Monkey boats are made available to novices.
			</p>

			<p style="text-align:left">
			<strong>Q: What should I bring for a boat rental or waverunner?</strong><br/>
			A: For boat rentals, water, water and water the desert, sun and water tend to make everyone extra hungry and thirsty! The usual lake equipment (towels, sunscreen, hats) is a great idea as well. Some people bring beach chairs, floats, fishing rods and more. Just be sure to save room on the boat for the people!
			</p>

			<p style="text-align:left">
			<strong>Q: Do we trailer the boats down to the launch ramp?</strong><br/>
			A: No, that's one of the best parts, we launch you and pick you up and we clean the boats, all you do is have all the fun.
			</p>

			<p style="text-align:left">
			<strong>Q: How do I know where to go?</strong><br/>
			A: We run you through a half hour orientation of the boats as well as the local waters and show you where to go on the lake with maps we provide you.
			</p>

			<p style="text-align:left">
			<strong>Q: Can we keep the boats overnight? </strong><br/>
			A: Yes, but only on multi day rentals and there is a fee. PLease call
			</p>

			<p style="text-align:left">
			<strong>Q: Will I need to refuel the boats during the day? </strong><br/>
			A: For a full day rental you shouldnt have to but that also depends on how far you have gone that day
			</p>

			<p style="text-align:left">
			<strong>Q: Can I pay cash for my security deposit?</strong><br/>
			A: Yes,cash is acceptable form of payment, but you must also provide a valid major credit card at time of departure
			</p>

			<p style="text-align:left">
			<strong>Q: Do i need ID?</strong><br/>
			A: Yes, A valid US driver/or other form of acceptable id is needed to rent any or our equipment. You must also be 18 and the person signing the contract must have the credit card in their name (sorry no momma's credit card here)
			</p>

			<p style="text-align:left">
			<strong>Q: Why rent? </strong><br/>
			A: NO Payment-No Insurance-No maintenance ALL the Fun!
			</p>

			<p style="text-align:left">
			<strong>Q: Why would I be charged for a prop?</strong><br/>
			A: We ONLY charge if you or someone driving the boat damages ie:rototillers the bottom of the lake with it. We give everyone a new or like new prop. We wont put people in a boat that has a damaged prop. Also if you damage a prop and would like to take it home-it is yours!
			</p>

			<p style="text-align:left">
			<strong>Q: Do I need a special license to drive the boats?</strong><br/>
			A: All you need to rent the boat is a sense of adventure and a credit card for the deposit. You will be required to sign a liability release and should you damage the boat in any way you will be responsible for all costs associated with the repair of the boat. We do not offer any additional insurance for the boats.Sometimes a homeowners/or auto insurance will cover damages done, but that is entirely up to the renter to find out ahead of time.
			</p>

			<p style="text-align:left">
			<strong>Q: What about my deposit I put down?</strong><br/>
			A: Deposit Will Be Applied To Rental. This is NOT the security deposit. That is separate charge. All holiday deposits are NON-Refundable. Please read our contact page.
			</br>

			<p style="text-align:left">
			<strong>Q: When can I pick up my boat? </strong><br/>
			A: Our rental office opens at 8:00 AM seven days a week during the season.Off season please call us.
			</p>

			<p style="text-align:left">
			<strong>Q: How old do you need to be to rent a boat? </strong><br/>
			A: The captain of the boat must be at least 21 years of age and show proof with a valid driver's license at the time of rental.
			</p>

	</div>
</div>