<div class="row">

	<div class="col-md-12 st-centered" style="padding-top:15px;padding-bottom:8px;">
		<img src="../../img/sdpt/wetmonkey/logo.png" style="max-width:180px;margin:0px auto;" alt="Wet Monkey Rentals">
	</div>

	<div class="col-md-12 st-centered st-rounded" style="padding-top:15px;padding-bottom:20px;background:rgba(0,0,0,0.3);min-height:200px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);">
		<p class="st-centered">
			<img src="../../img/sdpt/wetmonkey/home-image.jpg" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<p class="st-centered" style="margin-top:10px;">
			We have the largest selection of boats and jet skis. <br/>Contact us today to make your reservation <b>928-855-2022</b>
		</p>
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<ul class="list-unstyled st-centered main-menu st-rounded">
					<li>
						<a href="tel:928-855-2022">
							<i class="fa fa-chevron-right" style="opacity:0.4"></i> Call Us Now
						</a>
					</li>
					<li>
						<a href="mailto:rentals@wetmonkeyrentals.com">
							<i class="fa fa-chevron-right" style="opacity:0.4"></i> Contact Us
						</a>
					</li>
					<li ui-sref="pictures">
						<i class="fa fa-chevron-right" style="opacity:0.4"></i> Pics Of Our Boats & Jet Skis
					</li>
					<li ui-sref="deal">
						<i class="fa fa-chevron-right" style="opacity:0.4"></i> Deal Of The Day
					</li>
					<li ui-sref="about">
						<i class="fa fa-chevron-right" style="opacity:0.4"></i> What We Do
					</li>
					<li ui-sref="location">
						<i class="fa fa-chevron-right" style="opacity:0.4"></i> Location
					</li>
					<li ui-sref="offroad">
						<i class="fa fa-chevron-right" style="opacity:0.4"></i> Off Road Vehicles
					</li>
					<li ui-sref="faq">
						<i class="fa fa-chevron-right" style="opacity:0.4"></i> FAQs
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>