<div class="row">

	<div class="col-md-12" style="padding-top:15px;padding-bottom:8px;padding-left:0px;padding-right:0px;">
		<img src="../../img/sdpt/wetmonkey/logo.png" style="max-width:180px;margin:0px auto;" alt="Wet Monkey Rentals" ui-sref="home">

		<button class="pull-right btn btn-primary" style="margin-top:8px" ng-click="menu = !menu">Menu</button>
	</div>

	<div class="row" collapse="!menu">

		<ul class="col-md-12 st-no-padding list-unstyled st-centered main-menu">
			<li>
				<a href="tel:928-855-2022">
					<i class="fa fa-chevron-right" style="opacity:0.4"></i> Call Us Now
				</a>
			</li>
			<li>
				<a href="mailto:rentals@wetmonkeyrentals.com">
					<i class="fa fa-chevron-right" style="opacity:0.4"></i> Contact Us
				</a>
			</li>
			<li ui-sref="pictures">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> Pics Of Our Boats & Jet Skis
			</li>
			<li ui-sref="deal">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> Deal Of The Day
			</li>
			<li ui-sref="about">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> What We Do
			</li>
			<li ui-sref="location">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> Location
			</li>
			<li ui-sref="offroad">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> Off Road Vehicles
			</li>
			<li ui-sref="faq">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> FAQs
			</li>
		</ul>

	</div>

	<div class="col-md-12 st-centered st-rounded" style="padding-top:15px;padding-bottom:20px;background:rgba(0,0,0,0.3);min-height:200px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);">
		<h3 class="st-centered" style="color:#ffff8a">Location</h3>
		<h5 class="st-centered">
			We are conveniently located minutes from Windsor Beach and the London Bridge...
		</h5>

		<h4 class="st-centered" style="font-weight:500;margin-top:20px;">
			WetMonkey Powersport Rentals
		</h4>

		<p class="st-centered" style="margin-top:20px;">
			1685 Industrial Blvd<br/>
			Lake Havasu City, AZ 86403<br/>
			(928) 855-2022
		</p>
		

	</div>

</div>