<div class="row">

	<div class="col-md-12" style="padding-top:15px;padding-bottom:8px;padding-left:0px;padding-right:0px;">
		<img src="../../img/sdpt/wetmonkey/logo.png" style="max-width:180px;margin:0px auto;" alt="Wet Monkey Rentals" ui-sref="home">
	
		<button class="pull-right btn btn-primary" style="margin-top:8px" ng-click="menu = !menu">Menu</button>
	</div>

	<div class="row" collapse="!menu">

		<ul class="col-md-12 st-no-padding list-unstyled st-centered main-menu">
			<li>
				<a href="tel:928-855-2022">
					<i class="fa fa-chevron-right" style="opacity:0.4"></i> Call Us Now
				</a>
			</li>
			<li>
				<a href="mailto:rentals@wetmonkeyrentals.com">
					<i class="fa fa-chevron-right" style="opacity:0.4"></i> Contact Us
				</a>
			</li>
			<li ui-sref="pictures">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> Pics Of Our Boats & Jet Skis
			</li>
			<li ui-sref="deal">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> Deal Of The Day
			</li>
			<li ui-sref="about">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> What We Do
			</li>
			<li ui-sref="location">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> Location
			</li>
			<li ui-sref="offroad">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> Off Road Vehicles
			</li>
			<li ui-sref="faq">
				<i class="fa fa-chevron-right" style="opacity:0.4"></i> FAQs
			</li>
		</ul>

	</div>

	<div class="col-md-12 st-centered st-rounded" style="padding-top:15px;padding-bottom:20px;background:rgba(0,0,0,0.3);min-height:200px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);">
		<h3 class="st-centered st-no-margin" style="color:#ffff8a">Where We Rent It All!</h3>
		<h4 style="line-height:23px;opacity:0.8">Tritoon Boats - Pontoon Boats - WaveRunners (PWC) - Wakeboarding Boats - Jet Boats - Deck Boats</h4>
		<p>
			We provide you with the top quality Lake Havasu boat rentals, jet ski rentals, boating equipment and professional attitudes. All boat rentals come with all the boating safety equipment needed...... Tax and fuel not included.
		</p>

		<p class="st-centered" style="margin-top:40px;">
			<img src="../../img/sdpt/wetmonkey/yamaha-ar.jpg" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<h4 style="line-height:23px;opacity:0.8">
			Yamaha AR
		</h4>
		<p>
			23' Yamaha AR210 Twin engine Jet boat with twin fuel injected engines- hp 220- Open bow for up to 10 people- Lots of storage- Very large swim step- Wakeboard tower- Bimini top- AM/FM/CD/IPOD plug in- Excellent for Wakeboarding and Watersking!
		</p>

		<p class="st-centered" style="margin-top:40px;">
			<img src="../../img/sdpt/wetmonkey/2012-deckboat.jpg" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<h4 style="line-height:23px;opacity:0.8">
			24' Ebbtide Deck Boat
		</h4>
		<p>
			Equipped with a bimini top for shade- AM/FM/CD/MP3 with Ipod hook up- Powered with a 350 Mercruiser motor - Seats up to 10 people- You get the room like of a pontoon boat with the speed and handling of a ski boat!
		</p>

		<p class="st-centered" style="margin-top:40px;">
			<img src="../../img/sdpt/wetmonkey/pontoon-boat-rental.jpg" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<h4 style="line-height:23px;opacity:0.8">
			South Bay Tritoon Boat
		</h4>
		<p>
			This 23 ft pontoon boat seats up to 12 people and has a Merc 115 engine.- Stereo with IPOD hook up, 2 bimini tops - This is the perfect boat for cruising around the lake or pulling the kids on tubes-cruising speed 25-30
		</p>

		<p class="st-centered" style="margin-top:40px;">
			<img src="../../img/sdpt/wetmonkey/wakeboard1.jpg" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<h4 style="line-height:23px;opacity:0.8">
			Calabria Pro V Ski & Wakeboard Boats
		</h4>
		<p>
			This is our Calabria 23 ft. Pro-V wakeboard boat! This boat has it all! It's powered by the awesome 330 HP Black Scorpion engine. It also has a wakeboard tower,  AM/FM CD player, IPOD hook-up and MP3 capabilities.

			 Will seat up to 8 adults plus ice chests, but does have a weight limit. Max speed is 40 mph depending on the weight and conditions. Includes 1 water toy
		</p>

		<p class="st-centered" style="margin-top:40px;">
			<img src="../../img/sdpt/wetmonkey/red-tribal.JPG" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<h4 style="line-height:23px;opacity:0.8">
			2010 Red Tribal Boat
		</h4>
		<p>
			Stereo - bimini top -2 large ice chest - seats 10

This 23 ft pontoon boat seats up to 12 people and has a Merc 115 engine. This is the perfect boat for cruising around the lake Bring the family and a few friends. Cruising speed is about 19-21 mph depending on weight and water conditions.
		</p>

		<p class="st-centered" style="margin-top:40px;">
			<img src="../../img/sdpt/wetmonkey/delete-temp.jpg" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<h4 style="line-height:23px;opacity:0.8">
			Ring of Fire - Evo Boats
		</h4>
		<p>
			This 22 ft pontoon boat seats up to 8  adults and 90 hp 4 stroke Merc Cruiser. Very nice to run about for leisurely exploring, entertaining and for families- All boating safety gear  included. Cruising speed is 22 mph depending on weight and conditions.
		</p>

		<p class="st-centered" style="margin-top:40px;">
			<img src="../../img/sdpt/wetmonkey/delete-temp2.jpg" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<h4 style="line-height:23px;opacity:0.8">
			Yellow Splash - Evo Boats
		</h4>
		<p>
			This 22 ft pontoon boat seats up to 8  adults and 90 hp 4 stroke Merc Cruiser. Very nice to run about for leisurely exploring, entertaining and for families- All boating safety gear included. Cruising speed is 22 mph depending on weight and conditions.
		</p>

		<p class="st-centered" style="margin-top:40px;">
			<img src="../../img/sdpt/wetmonkey/wakeboard2.jpg" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<h4 style="line-height:23px;opacity:0.8">
			2007 24' Calabria Pro-V
Ski & Wakeboard Boats
		</h4>
		<p>
			- This is our 2007 Calabria 24 ft. Pro-V! This boat has it all! Seating for up to 10 of your family or friends- Max speed is 40 mph depending on the weight and conditions- It's powered by the awesome 330 HP Black Scorpion engine. It also has a wakeboard tower, AM/FM CD player IPOD hook-up --24' length - includes 1 Free toy with your rental- * 65 Gallon gas tank
		</p>

		<p class="st-centered" style="margin-top:40px;">
			<img src="../../img/sdpt/wetmonkey/delete-temp4.jpg" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<h4 style="line-height:23px;opacity:0.8">
			Malibu Wakesetter
Great for Wakeboarding!
		</h4>
		<p>
			Malibu Wakesetter has wake tower, open bow and seats up to 8 people.- Has an Inmar Chevy 350 engine. This boat is perfect for wakeboarding, skiing, tubing or just going on a tour of the lake.- Max speed 50mph Depending on weight and weather conditions. Seats up to 8 people, comes with stereo, CD player
		</p>

		<p class="st-centered" style="margin-top:40px;">
			<img src="../../img/sdpt/wetmonkey/542530_10150888759516317_1681682159_n-310x232.jpg" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<h4 style="line-height:23px;opacity:0.8">
			Jet Skis - Wave Runners-PWC
		</h4>
		<p>
			Kawasaki STX-1200 & Yamaha vx-110.  ALL 4 STROKES!- These are all 3 seaters great PWC (personal watercraft) and great fun. Max speed 55mph depending on weight and conditions.
		</p>

		<p class="st-centered" style="margin-top:40px;">
			<img src="../../img/sdpt/wetmonkey/delete-temp7.jpg" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<h4 style="line-height:23px;opacity:0.8">
			Orange/Red Flame - Evo Boats
		</h4>
		<p>
			This 22 ft pontoon boat seats up to 8  adults and 90 hp 4 stroke Merc Cruiser. Very nice to run about for leisurely exploring, entertaining and for families- All boating safety gear included. Cruising speed is 22 mph depending on weight and conditions.
		</p>

		<p class="st-centered" style="margin-top:40px;">
			<img src="../../img/sdpt/wetmonkey/delete-temp8.jpg" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<h4 style="line-height:23px;opacity:0.8">
			Bayliner
2050 Anniversary Edition
		</h4>
		<p>
			Bayliner 8 person - stereo - open bow - comfort boat - will pull skier 38 mph. Great family boat, seats up to 8 people. This is the boat to rent if your looking to ski/wakeboard or tube. Perfect for cruising around and playing on the lake. Max speed is 45 mph depending on the weight and conditions.
		</p>

		<p class="st-centered" style="margin-top:40px;">
			<img src="../../img/sdpt/wetmonkey/delete-temp9.jpg" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<h4 style="line-height:23px;opacity:0.8">
			Blue Flame - Evo Boats
		</h4>
		<p>
			This 22 ft pontoon boat seats up to 8  adults and 90 hp 4 stroke Merc Cruiser. Very nice to run about for leisurely exploring, entertaining and for families- All boating safety gear  included. Cruising speed is 22 mph depending on weight and conditions.
		</p>

		<p class="st-centered" style="margin-top:40px;">
			<img src="../../img/sdpt/wetmonkey/delete-temp10.jpg" style="max-width:280px;margin:0px auto;" alt="Wet Monkey Rentals" class="img-thumbnail">
		</p>
		<h4 style="line-height:23px;opacity:0.8">
			Hoopdea Pontoon Boat
		</h4>
		<p>
			This 23 ft pontoon boat seats up to 10 people and has a 115 Merc Cruiser. This is a very nice boat for leisurely exploring, entertaining and for family fun. Cruise around Lake Havasu City in style.
		</p>

	</div>

</div>